body {
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, .5) 21%, rgba(255, 255, 255, .5) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, .5) 21%, rgba(255, 255, 255, .5) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #e0eeff;
  background-size: 75px 100px;
}

.deal {
  display: none;
  text-align: center;
}

.deal-image {
  max-width: 100%;
  max-height: 300px;
}
