{% extends '_layout.html' %}

{% block title %}
  literally.deals
{% endblock %}

{% block meta %}
  <meta property="og:title"       content="literally.deals">
  <meta property="og:site_name"   content="literally.deals">
  <meta property="og:description" content="Find random discounted items from Amazon.">
  <meta property="og:image"       content="https://literally.deals/img/literally.deals.png">
{% endblock %}

{% block content %}
  <noscript>
    <div class="card card-block m-b-1">
      <p class="card-text">Sorry, but this site only works with Javascript enabled, and with browsers newer than IE 8.</p>
    </div>
  </noscript>

  <div class="row" style="display: none;" v-show="true">
    <div class="col-sm-8">
      <div class="card card-block">
        <div class="text-xs-center m-b-1">
          <img class="deal-image"
            v-bind:src="currentItem.imageUrl"
            v-if="itemLoaded && currentItem.imageUrl">
        </div>

        <h2 class="text-xs-center h4"
          v-text="currentItem.title"
          v-if="itemLoaded">
          &hellip;
        </h2>

        <p class="card-text deal-description"
          v-html="currentItem.description"
          v-if="itemLoaded && currentItem.description">
          &hellip;
        </p>

        <p class="card-text m-b-1 m-t-1 text-xs-center"
          v-if="!itemLoaded">
          <i class="fa fa-spinner fa-4x fa-spin"></i>
        </p>
      </div><!-- .card -->
    </div><!-- .col-sm-8 -->

    <div class="col-sm-4">
      <div class="card card-block">
        <p class="card-text text-xs-center"
          v-text="'Save $' + currentItem.discount + '!'"
          v-if="itemLoaded">
          &hellip;
        </p>

        <p class="card-text text-xs-center"
          v-if="!itemLoaded">
          <i class="fa fa-spinner fa-pulse"></i>
        </p>

        <p class="card-text text-xs-center">
          <a class="btn btn-success btn-block" href="#"
            {% if google_analytics_id %}onclick="ga('send', 'event', 'click', 'Buy')"{% endif %}
            v-if="itemLoaded"
            v-bind:href="currentItem.url"
            v-text="'Buy for ' + currentItem.lowestPrice">
          </a>

          <a class="btn btn-success btn-block btn-disabled" href="#"
            v-if="!itemLoaded">
            <i class="fa fa-spinner fa-pulse"></i>
          </a>
        </p>

        <p class="card-text text-xs-center">
          <a href="#" class="btn btn-primary btn-block" {% if google_analytics_id %}onclick="ga('send', 'event', 'click', 'Another')"{% endif %}
            v-if="anotherReady"
            v-on:click="getItem">
            Another!
          </a>

          <a href="#" class="btn btn-primary btn-block disabled"
            v-if="!anotherReady">
            <i class="fa fa-spinner fa-pulse"></i>
          </a>
        </p>
      </div><!-- .card -->
    </div><!-- .col-sm-4 -->
  </div><!-- .row -->
{% endblock %}

{% block pagescripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}
