{% extends '_layout.html' %}

{% block title %}
  literally.deals
{% endblock %}

{% block meta %}
  <meta property="og:title"       content="literally.deals">
  <meta property="og:site_name"   content="literally.deals">
  <meta property="og:description" content="Find random discounted items from Amazon.">
  <meta property="og:image"       content="https://literally.deals/img/literally.deals.png">
{% endblock %}

{% block content %}
  <div class="row spinner">

    <div class="col-sm-8">
      <div class="card card-block">
        <p class="card-text text-xs-center">
          <i class="fa fa-spinner fa-4x fa-pulse"></i>
        </p>
      </div><!-- .card -->
    </div><!-- .col-sm-6 -->

    <div class="col-sm-4">
      <div class="card card-block">
        <p class="card-text text-xs-center hidden-xs-down">
          <i class="fa fa-spinner fa-pulse"></i>
        </p>

        <p class="card-text text-xs-center hidden-xs-down">
          <i class="fa fa-spinner fa-pulse"></i>
        </p>

        <p class="card-text text-xs-center">
          <a href="#" class="btn btn-primary another-deal" {% if google_analytics_id %}onclick="ga('send', 'event', 'click', 'Another')"{% endif %}>Another!</a>
        </p>
      </div><!-- .card -->
    </div><!-- .col-sm-6 -->

  </div>
  <div class="row deal">

    <div class="col-sm-8">
      <div class="card card-block">
        <img class="deal-image">

        <p class="card-text">
          <h2 class="text-xs-center deal-name h4"></h2>
        </p>

        <div class="text-xs-left card-text m-b-1">
          <p class="card-text deal-description"></p>
        </div>
      </div><!-- .card -->
    </div><!-- .col-sm-6 -->

    <div class="col-sm-4">
      <div class="card card-block">
        <p class="card-text deal-discount"></p>

        <p class="card-text text-xs-center">
          <a class="btn btn-success deal-link" href="#" {% if google_analytics_id %}onclick="ga('send', 'event', 'click', 'Buy')"{% endif %}><span class="deal-price"></span></a>
        </p>

        <p class="card-text text-xs-center">
          <a href="#" class="btn btn-primary another-deal" {% if google_analytics_id %}onclick="ga('send', 'event', 'click', 'Another')"{% endif %}>Another!</a>
        </p>
      </div><!-- .card -->
    </div><!-- .col-sm-6 -->

  </div>
{% endblock %}

{% block pagescripts %}
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}
